<ion-header>
  <ion-toolbar>
    <ion-title>
      <h5 class="ion-text-center">THE ELDER'S CLOSET</h5>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row>
        <ion-col >
          <br><br>
          <div class="ion-text-center">
            <h2>INICIAR SESIÓN </h2>
            <ion-icon name="person-circle" style="zoom:5.0;"></ion-icon>            
          </div>
          <br><br>
          <div>
            <ion-item>
              <ion-icon name="mail" item-start class="ion-padding-end"></ion-icon>
              <ion-input name="email" type="email" placeholder="Ejemplo@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock-closed" item-start class="ion-padding-end"></ion-icon>
              <ion-input name="password" type="password" placeholder="Contraseña" ngModel required></ion-input>
            </ion-item>
            <br>
            <ion-label *ngIf="errorLogin">
              Email o Contraseña incorrectos
            </ion-label>
          </div>
          <br>
          <div>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="full">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <div text-center>
        ¿ No tienes una cuenta? <a routerLink='/register'>
        Registrate</a>
        </div>
    </ion-row>
    </ion-grid>
  </form>
</ion-content>
