ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    margin-right: 20px;
    margin-left: 20px;
}
ion-icon{
    size: 10px;
}
ion-label{
    font-size: medium;
    color: rgb(216, 91, 91);
    
}
