<ion-header>
  <app-custom-header></app-custom-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-list-header class="ion-text-center">
        <ion-title>Seleccione el método de envio</ion-title>
      </ion-list-header>
      <ion-col>
        <ion-list>
          <ion-radio-group value="free" (click)="selectShipping(value)">            
            <ion-item>
              <ion-label>Envío normal: Gratis</ion-label>
              <ion-radio  slot="start" color="primary" value="free"></ion-radio>
            </ion-item>
  
            <ion-item>
              <ion-label>Envío Premium: 3,95 €</ion-label>
              <ion-radio slot="start" color="primary" value="premium"></ion-radio>
            </ion-item>            
          </ion-radio-group>
        </ion-list>
      </ion-col>
      
    </ion-row>
    <ion-row >      
      <ion-list-header class="ion-text-center">
        <ion-title>Seleccione la dirección de entrega</ion-title>
      </ion-list-header>      
      <ion-col>
        <ion-card *ngFor="let address of addresses; let i = index" (click)="selectAddress(address.id)" [ngStyle]="{'border':selectedAddress == address.id ? 'solid white' : null }" >        
          <ion-card-header>          
            <ion-card-title>Dirección {{i+1}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-text>{{address.line1}}</ion-text>
              </ion-row>
              <ion-row>
                <ion-text>{{address.line2}}</ion-text>
              </ion-row>
              <ion-row>
                <ion-text>{{address.postal_code}}, {{address.city}} ({{address.country}})</ion-text>
              </ion-row>
              <ion-row>
                <ion-text>Telefono: {{address.phone_number}}</ion-text>
              </ion-row>
            </ion-grid>                                                          
          </ion-card-content>
        </ion-card>
      </ion-col> 
      <ion-row >
        <ion-col (click)="goToAddAddress()"> 
          <ion-button class= "bottom" expand="full" >
            Agregar dirección
          </ion-button>                                                     
        </ion-col> 
        <ion-col (click)="goToPayment()"> 
          <ion-button color="danger" [disabled]="selectedAddress == 0" class= "bottom" expand="full" >
            Continuar y pagar
          </ion-button>                                                     
        </ion-col> 
      </ion-row>
    </ion-row>    
  </ion-grid>
</ion-content>
