<ion-header>
  <ion-toolbar>
    <ion-title>
      <h5 class="ion-text-center">THE ELDER'S CLOSET</h5>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (submit)="register()">
    <ion-grid>
      <ion-row >
        <ion-col>
          <div class="ion-text-center">
            <h2>Crear una nueva cuenta</h2>
          </div>
          <br>
          <div >
            <ion-item>
              <ion-icon name="person-outline" item-start class="ion-padding-end"></ion-icon>
              <ion-input formControlName="first_name" type="text" placeholder="Nombre" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="person-outline" item-start class="ion-padding-end"></ion-icon>
              <ion-input formControlName="last_name" type="text" placeholder="Apellidos" ></ion-input>
            </ion-item>            
            <ion-item>
              <ion-icon name="call-outline" item-start class="ion-padding-end"></ion-icon>
              <ion-input formControlName="phone_number" type="number" pattern="[0-9]*" placeholder="Teléfono" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="mail-outline" item-start class="ion-padding-end"></ion-icon>
              <ion-input formControlName="email" type="email" placeholder="ejemplo@email.com" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock-closed" item-start class="ion-padding-end"></ion-icon>
              <ion-input formControlName="password" type="password" placeholder="Contraseña (8 dígitos)" ></ion-input>
            </ion-item>            
            <ion-item>
              <ion-icon name="lock-closed" item-start class="ion-padding-end"></ion-icon>
              <ion-input formControlName="password_confirmation" type="password" placeholder="Repite la contraseña (8 dígitos)" ></ion-input>
            </ion-item>
          </div>
          <br>
          <div>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="full">Registrate</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
