<ion-header>
  <app-custom-header></app-custom-header>
</ion-header>

<ion-content>

  
  <ion-grid>
    <ion-row  *ngFor="let order of orders">
      <ion-col>
        <ion-row class="title">
          <ion-title > Pedido nº {{order.id}}</ion-title>                         
        </ion-row>
        <ion-row>
          <ion-col >        
            <ion-label>            
              <h2>Estado: {{order.status}}</h2>
              <h2>Total: {{order.total}} €</h2>
              <h2>Fecha: {{order.orderDate}} </h2>
            </ion-label>        
        </ion-col>
        <ion-col>        
          <ion-row>
            <ion-button  [routerLink]="['/tabs', 'orders', order.id]" expand="full">Ver pedido</ion-button>
          </ion-row>        
        </ion-col>
        </ion-row>
      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>
