<ion-header>
  <app-custom-header></app-custom-header>
</ion-header>

<ion-content>  
  <ion-toolbar class="ion-text-center">
    <ion-title size="medium">¿Qué necesitas?</ion-title>
  </ion-toolbar> 
  <ion-grid> 
  <ion-row>
    <ion-col>
      <ion-card class="ion-text-center" (click)="showCategoryList(1)">
        <ion-card-header>
          <ion-img src="assets/imgs/trousers.png" ></ion-img>
        </ion-card-header>          
        <ion-card-content>
          PANTALONES
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="ion-text-center">
        <ion-card-header>          
          <ion-img src="assets/imgs/womens-t-shirt.png" ></ion-img>
        </ion-card-header>          
        <ion-card-content>
          CAMISETAS
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card class="ion-text-center">
        <ion-card-header>
          <ion-img src="assets/imgs/skirt.png" ></ion-img>
        </ion-card-header>          
        <ion-card-content>
          FALDAS
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="ion-text-center">
        <ion-card-header>          
          <ion-img src="assets/imgs/womens-shirt.png" ></ion-img>
        </ion-card-header>          
        <ion-card-content>
          CAMISAS Y BLUSAS
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card class="ion-text-center">
        <ion-card-header>
          <ion-img src="assets/imgs/bra.png" ></ion-img>
        </ion-card-header>          
        <ion-card-content>
          SUJETADORES
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="ion-text-center">
        <ion-card-header>          
          <ion-img src="assets/imgs/panties.png" ></ion-img>
        </ion-card-header>          
        <ion-card-content>
          BRAGAS
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card class="ion-text-center">
        <ion-card-header>
          <ion-img src="assets/imgs/socks.png" ></ion-img>
        </ion-card-header>          
        <ion-card-content>
          CALCETINES
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="ion-text-center">
        <ion-card-header>          
          <ion-img src="assets/imgs/slippers.png" ></ion-img>
        </ion-card-header>          
        <ion-card-content>
          ZAPATILLAS
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
