<ion-header>
  <app-custom-header></app-custom-header>
</ion-header>

<ion-content>
  <ion-list>      
    <ion-img *ngIf="selectedColor != 0" style="padding-left: 6px; padding-right: 6px;" src="{{'http://127.0.0.1:8000/api/productColors/'+ selectedColor + '/image' }}"></ion-img>  
    <ion-grid>
      <!-- Favoritos -->
      <ion-row>
        <ion-col>
          
        </ion-col>
        <ion-col> 
          <ion-button *ngIf="!isFavorite" class= "bottom" expand="full" color="warning" (click)="addToFavorites(product?.id)">
            AÑADIR A FAVORITOS ⭐
          </ion-button> 
          <ion-button *ngIf="isFavorite" class= "bottom" expand="full" color="primary" (click)="deleteFromFavorites(product?.id)">
            ELIMINAR DE FAVORITOS ⭐
          </ion-button>                                                
        </ion-col>        
      </ion-row>
      <ion-row>
        <ion-col size="7">
          <ion-list-header >{{product?.title}}</ion-list-header>
        </ion-col>
        <ion-col>
          <ion-item class="ion-text-end">
            <ion-label class="price">{{product?.price}} €</ion-label>
          </ion-item>
        </ion-col>        
      </ion-row> 
      <!-- Description -->
      <ion-row>
        <ion-col>
          <ion-list-header>Descripción</ion-list-header>
        </ion-col>              
      </ion-row> 
      <ion-row>
        <ion-col > 
          <ion-list-header class="description">{{product?.description}}</ion-list-header>                                                 
        </ion-col>
      </ion-row>            
      <!-- Color -->
      <ion-row>
        <ion-col>
          <ion-list-header>Color</ion-list-header>
        </ion-col>
        <ion-col> 
          <ion-row>            
            <ion-col *ngFor="let item of colors" (click)="selectColor(item.color.id)">
              <div class="color-box" style="background-color: {{item.color.hex}};" [ngStyle]="{'border':selectedColor == item.color.id ? 'solid white' : null }"></div> 
            </ion-col>              
          </ion-row>                                                        
        </ion-col>        
      </ion-row>
      <!-- Talla -->
      <ion-row>
        <ion-col>
          <ion-list-header>Talla</ion-list-header>
        </ion-col>
        <ion-col> 
          <ion-row>            
            <ion-col *ngFor="let item of sizes" (click)="selectSize(item.id)">
              <ion-button [class.size]="selectedSize != item.id" [class.highlight]="selectedSize == item.id"  expand="full" size= "small">
                <ion-label >
                  {{item.size.size}}
                </ion-label>
              </ion-button>
            </ion-col>              
          </ion-row>                                                        
        </ion-col>        
      </ion-row>
      <ion-row >        
        <ion-col>      
          <div *ngIf="selectedSize == -1 && addItem == true" class="ion-text-center alert" >            
            Seleccione la talla
          </div>  
        </ion-col>
      </ion-row>
      <!-- Comprar/Añadir al carrito -->
      <ion-row >
        <ion-col (click)="goToCart()">
          <ion-button class= "bottom" expand="full" >
            COMPRAR
          </ion-button>
        </ion-col>
        <ion-col (click)="addToCart()"> 
          <ion-button class= "bottom" expand="full" >
            AÑADIR AL CARRITO
          </ion-button>                                                     
        </ion-col>        
      </ion-row>
    </ion-grid> 
    
                        
  </ion-list>
</ion-content>
