<ion-header>
  <app-custom-header></app-custom-header>
</ion-header>

<ion-content>
  <ion-grid>    
    <ion-row >      
      <ion-col >         
          <ion-row >
            <ion-label class="ion-text-center">El pago ha sido realizado correctamente</ion-label>
            
          </ion-row> 
          <ion-row >
            <ion-icon style="zoom:8.0;" name="shield-checkmark-outline"></ion-icon>   
            
          </ion-row>  
          <ion-row style="margin-top: 30px" >
            <ion-button style=" font-size:large"color="primary" expand="full" size="large" (click)="goToHome()" >        
              Finalizar       
            </ion-button>
          </ion-row>                                                                                                                              
      </ion-col>                      
    </ion-row>
  </ion-grid>
  
</ion-content>
