<ion-header>
  <app-custom-header></app-custom-header>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center" (click)="showCategories()" >
    <img width="180" height="180" src="assets/imgs/lady.png" >
    <ion-card-content>
      <ion-button expand="block">Señora</ion-button>
    </ion-card-content>
    
  </ion-card>
  <ion-card class="ion-text-center">
    <img width="180" height="180" src="assets/imgs/gentleman.png" >
    <ion-card-content>
      <ion-button expand="block">Caballero</ion-button>
    </ion-card-content>    
  </ion-card>
</ion-content>
