<ion-header>
  <app-custom-header></app-custom-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="ion-text-center" (click)="showSearch()">
          <ion-card-header>
            <ion-icon name="pricetags" style="zoom:4.0;" ></ion-icon>
          </ion-card-header>          
          <ion-card-content>
            COMPRAR
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-text-center" (click)="showCart()">
          <ion-card-header>          
            <ion-icon name="cart" style="zoom:4.0;" ></ion-icon>
          </ion-card-header>          
          <ion-card-content>
            CARRITO
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="ion-text-center" (click)="showAccount()">
          <ion-card-header>
            <ion-icon name="person" style="zoom:4.0;" ></ion-icon>
          </ion-card-header>          
          <ion-card-content>
            TU CUENTA
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-text-center" (click)="showFavorites()">
          <ion-card-header>          
            <ion-icon name="star" style="zoom:4.0;" ></ion-icon>
          </ion-card-header>          
          <ion-card-content>
            FAVORITOS
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="ion-text-center" (click)="showOrders()">
          <ion-card-header>
            <ion-icon name="receipt" style="zoom:4.0;" ></ion-icon>
          </ion-card-header>          
          <ion-card-content>
            TUS COMPRAS
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-text-center">
          <ion-card-header>          
            <ion-icon name="call" style="zoom:4.0;" ></ion-icon>
          </ion-card-header>          
          <ion-card-content>
            ASISTENCIA TELEFONICA
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
