<ion-header>
  <app-custom-header></app-custom-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="center">
      <ion-col>
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-icon name="person-circle" style="zoom:4.0;" ></ion-icon>
          </ion-card-header>          
          <ion-card-content>
            TUS DATOS
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-text-center" [routerLink]="['/tabs', 'orders']">
          <ion-card-header>          
            <ion-icon name="receipt" style="zoom:4.0;" ></ion-icon>
          </ion-card-header>          
          <ion-card-content>
            TUS COMPRAS
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-icon name="navigate-circle" style="zoom:4.0;" ></ion-icon>
          </ion-card-header>          
          <ion-card-content>
            DIRECCIONES
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-text-center" [routerLink]="['/']">
          <ion-card-header>          
            <ion-icon name="log-out-outline" style="zoom:4.0;" ></ion-icon>
          </ion-card-header>          
          <ion-card-content>
            CERRAR SESION
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>    
  </ion-grid>
</ion-content>
